<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <body>
  <form action="products/search">
    <label for="search-term">Search for an item by name</label>
    <input type="text" name="searchTerm" id="search-term">

    <button type="submit">Search</button>
  </form>

  <a href="/products/expensive">Most Expensive Items</a>
  <a href="/products/cheapest">Cheapest Items</a>
</body>
  </body>
</html>
